@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap");

:root {
  --overlay-color: #00a3bd;
  
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272526;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 300px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  color:#00a3bd;
}


.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  mix-blend-mode: overlay;
}


/* HOME PAGE */

.text {
  position: relative;
  z-index: 10;

}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}


/* CAREERS-TEXT */

.careers-text {
  position: relative;
  
}

.careers-text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}


.careers-text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.careers-text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}



.careers-text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.careers-text a:hover {
  letter-spacing: 6px;
}

.careers-text li {
  margin-left: 40px;
}


/* CAREERS PAGE */

.careers-page {
  position: relative;
  
}

.careers-page h3 {
  display: inline-block;
  font-size: 2em;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.careers-page p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.careers-page li {
  font-size: 1.1em;
  font-weight: 400;
  max-width: 700px;
  margin: 3em; 
}









/* SOCIAL ICONS */

.social {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}


/* POLICIES */


.policies {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 10px 100px;
  cursor: pointer;
  padding: 0 px;

}

.policies li {
  list-style: none;
}

.policies li p {
  font-size: 10px;
}



.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: var(--overlay-color);
}



/* CONTACT PAGE */



/* PRIVACY PAGE */

.privacy h3 {
  display: inline-block;
  font-size: 2em;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.privacy p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}



/* COOKIES NOTICE */

p.indent {
  margin-left: 30px;
}

.cookies h3 {
  display: inline-block;
  font-size: 2em;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.cookies p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}



/* COOKIES BANNER */
#cookie-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 164, 189);
  color: #f5f6fa;
  padding: 0 100px;
  box-shadow: 0 -2px 16px rgba(0, 164, 189, 0.707);

}

.hidden {
  opacity: 0;

}

#cookie-container a {
  color: #f5f6fa;
}

#cookie-container p {
  margin-top: 8px;
  margin-bottom: 8px;
  
}

#cookie-btn {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  border-radius: 30px;
  padding: 4px 12px;
  text-decoration: none;
  color: #111;
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
}

#cookie-btn a:hover {
  letter-spacing: 6px;
}




/* RESPONSIVE */

@media (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }

 

  

}

